* {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #434343;
}

h1, h2, h3, h4 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4.0rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.0rem;
}

/* Images  */
img {
  width: 100%;
}

/* Layout Styling */
main {
  padding-top: 15rem;
}

header {
  background-color: #FFFFFF;
  text-align: left;
  padding-top: 2rem;
  position: fixed;
  width: 100%;
}

.container {
  padding: 0 3rem;
}

footer {
  margin-top: 8rem;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 1.5rem 0 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #434343 !important;
}

.logo {
  color: #434343 !important;
  text-transform: uppercase;
}

.logo:hover {
  text-decoration: none;
}

.project-summary {
  padding: 3rem 3rem 3rem 3rem;
}

.row {
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1.5rem 0 rgb(0 0 0 / 25%);
  margin: 2.5rem 0;
}

.number {
  color: white;
  background-color: #434343;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin-right: 1rem !important;
  border-radius: 10rem;
}

#skills-tools, #my-story, #introduction, #conclusion {
  margin-top: 8rem;
}

#hero {
  background-color: #FFFFFF;
  padding: 4rem 0;
  display: inline-block;
  width: 100%;
}

#work {
  margin-top: 4rem;
}

/* Hyperlinks  */
a,
a:visited {
  color: #0085FF;
  font-weight: 600;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.25rem;
  outline-color: #434343;
}

a:active {
  color: #0029BA;
}

/* Buttons */
.button,
.button:visited {
  display: inline-block;
  background-color: #434343;
  color: #FFFFFF !important;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 1.2rem 3.2rem 1.2rem 3.2rem;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.button:hover,
.button:focus {
  transform: translate(0, -0.2rem);
  box-shadow: 0 0.5rem 1.5rem 0 rgb(0 0 0 / 25%);
}

.button:active {
  background-color: #0085FF;
  transform: translate(0, -0.2rem);
  box-shadow: 0 0.5rem 1.5rem 0 rgb(0 0 0 / 25%);
}

.button-secondary {
  background-color: #FFFFFF;
  color: #434343 !important;
  border-color: #434343;
  border-style: solid;
  border-width: 0.25rem;
}

.button-secondary:active {
  background-color: #FFFFFF !important;
  color: #0085FF !important;
  border-color: #0085FF;
}

/* Footer  */
.social-media-icons {
  width: 3rem;
  margin-top: 5rem;
}
