/* Global Elements */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Typography */
body {
  background-color: #FBFAF9;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #434343;
}

h1, h2, h3, h4 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.25;
}

h1 {
  font-size: 4.0rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 0;
}

/* Hyperlinks  */
a,
a:visited {
  color: #A5A5A5;
  font-weight: 600;
  text-decoration: none;
  transition: all 300ms ease;
  transition-property: color;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-style: wavy;
  text-underline-offset: 0.25rem;
  outline-color: #434343;
}

a:active {
  color: #000000;
}

/* Buttons */
.button-margin {
  margin-top: 2rem;
}

#work.button-margin {
  margin-bottom: 2rem;
}

.button,
.button:visited {
  display: inline-block;
  background-color: #434343;
  color: #FFFFFF !important;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 1.2rem 3.2rem 1.2rem 3.2rem;
  margin: 0;
  border-radius: 5px;
  transition: all 300ms ease;
  transition-property: transform, box-shadow, color, background-color;
}

.button:hover,
.button:focus {
  transform: translate(0, -0.2rem);
  box-shadow: 0 0.5rem 1.5rem 0 rgb(0 0 0 / 25%);
}

.button:active {
  background-color: #A5A5A5;
  transform: translate(0, -0.2rem);
  box-shadow: 0 0.5rem 1.5rem 0 rgb(0 0 0 / 25%);
}

.button-secondary {
  background-color: transparent;
  color: #434343 !important;
  border-color: #434343;
  border-style: solid;
  border-width: 0.25rem;
  border-radius: 5px;
}

.button-secondary:active {
  background-color: transparent !important;
  color: #A5A5A5 !important;
  border-color: #A5A5A5;
}

.button-disabled,
.button-disabled:visited,
.button-disabled:focus,
.button-disabled:hover,
.button-disabled:active {
  background-color: #A5A5A5 !important;
  transform: none;
  box-shadow: none;
}

/* Navigation */
ul {
  margin: 0;
  padding-left: 2rem;
  padding-top: 1rem;
}

nav {
  margin: 1rem 0;
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a,
nav>ul>li>a:visited {
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #434343 !important;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #A5A5A5 !important;
  text-decoration: none;
}

nav>ul>li>a:active {
  color: #434343 !important;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.25rem;
}

.logo {
  max-width: 20rem;
  margin: 0;
}

/* Sections */
section {
  margin: 3rem 0 0 0;
}

/* Containers */
.container {
  padding: 2rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#work.container {
  padding-top: 6rem;
}

#project h2 {
  margin: 4rem 0 4rem 0;
}

/* Rows */
.row {
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1.5rem 0 rgb(0 0 0 / 25%);
  margin: 4rem auto;
  max-width: 1000px;
}

.row-2 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row-3 {
  padding-top: 3rem;
}

.row-4 {
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1.5rem 0 rgb(0 0 0 / 25%);
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
}

#skills-section {
  padding: 4rem 0 4rem 0;
}

#project-content {
  padding: 4rem 0 4rem 0;
}

#conclusion {
  margin-bottom: 3rem;
}

/* Columns */
#skills [class*="col-"] {
  margin-bottom: 3rem;
  width: auto;
  min-width: 230px;
  margin-right: 2rem;
}

/* Header */
header {
  background-color: #FFFFFF;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  position: fixed;
  width: 100%;
}

.container-header {
  display: inline-block;
}

/* Main */
.background {
  background-color: #F6F5F4;
}

main {
  padding-top: 9.6rem;
  padding-bottom: 0;
}

.container-hero {
  max-width: 1000px;
  padding: 5rem;
  margin: 3rem auto;
  text-align: center;
}

#work {
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#hero h1 {
  text-transform: none;
  line-height: 1.4;
  font-size: 2.4rem;
  margin-top: 0;
}

#hero h1 {
  display: inline-block;
}

#hero h1 .line-through {
  text-decoration-line: line-through;
  text-decoration-thickness: 0.3rem;
  text-decoration-style: initial;
  text-decoration-color: #FA5A00;
}

#hero h1 .wavy {
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  text-decoration-style: wavy;
  text-underline-offset: 1.0rem;
  text-decoration-color: #0085FF;
}

.container-column {
  padding: 2rem 2rem 2rem 2rem;
}

.number {
  color: white;
  background-color: #434343;
  display: inline-flex;
  width: 3.0rem;
  height: 3.0rem;
  padding: 1.0rem;
  align-items: center;
  justify-content: center;
  margin-right: 1.0rem !important;
  border-radius: 10.0rem;
}

.project-image {
  display: flex;
}

.container-profile {
  text-align: center;
}

.profile-picture {
  max-width: 50%;
}

#container-profile-picture {
  text-align: center;
  justify-content: flex-start;
}

#about-intro h2 {
  margin-top: 2rem;
}

.container-image {
  margin: 6rem 0 2rem 0;
}

.shadow-image {
  box-shadow: 3px 5px 20px 3px rgb(0 0 0 / 15%);
}

.introduction span {
  margin-right: 3rem;
  font-weight: 600;
}

.introduction p {
  padding-bottom: 2rem;
  border-bottom: 2px solid #ececec;
}

#project h1 {
  padding: 2rem;
  text-align: center;
  font-size: 3.5rem;
}

/* Footer  */
footer {
  background-color: #FFFFFF;
  padding-top: 8rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer #copyright {
  font-size: 75%;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer h2 {
  margin-top: 0;
}

.social {
  margin-top: 5rem;
}

.social a {
  padding: 1rem;
  margin: 0 0.8rem;
  display: inline-block;
  line-height: 0;
}

.social-icons {
  width: 3.0rem;
}

/* Animation */
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Media devices (640px and larger) */
@media only screen and (min-width: 640px) {
  body {
    font-size: 1.8rem;
  }

  main {
    padding-top: 10rem;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  .container-header {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    line-height: 0;
  }

  .container-hero {
    padding: 5rem;
    margin: 20rem auto;
  }

  #hero h1 {
    font-size: 3.0rem;
  }

  #hero h1 .line-through {
    text-decoration-thickness: 0.4rem;
  }

  #hero h1 .wavy {
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 1.3rem;
  }

  .row {
    display: flex;
  }

  .row-2 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .row-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .row-4 {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }

  [class*="col-"] {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row-2::after {
    content: "";
    clear: both;
    display: table;
  }

  .row-3::after {
    content: "";
    clear: both;
    display: table;
  }

  .profile-intro {
    padding-top: 5rem;
    text-align: center;
  }

  #skills.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #work.button-margin {
    margin-bottom: 0;
  }

  .project-image {
    display: flex;
    height: 40rem;
    object-fit: cover;
  }

  #about-intro h2 {
    margin-top: 0;
  }

  .profile-picture {
    max-width: 80%;
  }

  #project h1 {
    font-size: 4rem;
  }
}

/* Media devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.7%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .col-lg-7 {
    width: 58.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #work .button-margin {
    margin-bottom: 0;
  }

  .project-image {
    display: flex;
    height: 50rem;
    object-fit: cover;
    align-items: center;
  }

  .profile-picture {
    max-width: 80%;
  }
}

/* Media desvices (1440px or larger) */
@media only screen and (min-width: 1440px) {}
